.row.justify-content-center
  .col-md-6
    = simple_form_for([:admins, badge]) do |f|
      .form-inputs
        = f.input :name, autofocus: true
        = f.input :description, as: :text, input_html: { rows: 5 }
        = f.input :rule_type, as: :select
        = f.input :rule_category, as: :select, include_blank: '全てのカテゴリー'
        = f.input :rule_value
        = f.input :enabled, as: :boolean

      .form-actions.text-center.mt-3
        = f.button :submit, class: 'btn btn-outline-primary'
