%h2.text-center.mb-4 バッジ一覧

.text-center.mb-4
  = link_to 'バッジを追加', new_admins_badge_path, class: 'btn btn-outline-secondary'

.row.justify-content-center
  .col-md-8
    - if @badges.exists?
      %table.table.table-bordered.align-middle.text-center
        %thead
          %tr
            %th.w-10 ID
            %th バッジ名
            %th 種別
            %th 条件値
            %th 有効状況
            %th 操作
        %tbody
          - @badges.each do |badge|
            %tr
              %td= badge.id
              %td= badge.name
              %td= badge.rule_type.text
              %td= badge.rule_value
              %td= render 'admins/badges/enabled_status_badge', badge:
              %td
                = link_to '詳細', admins_badge_path(badge), class: 'btn btn-sm btn-outline-secondary me-2'
                = link_to '編集', edit_admins_badge_path(badge), class: 'btn btn-sm btn-outline-warning me-2'
                = button_to '削除',
                            admins_badge_path(badge),
                            method: :delete,
                            data: { turbo_confirm: '本当に削除しますか？' },
                            form: { class: 'd-inline' },
                            class: 'btn btn-sm btn-outline-danger'
    - else
      %p.text-center バッジがありません。
