%h3.text-center.mb-5 #{@family.name}家のページ

.row.justify-content-center
  .col-md-6.text-center
    .card.shadow-sm.p-4
      %p
        %strong 苗字：
        = @family.name

      = link_to '編集', edit_family_path(@family), class: 'btn btn-outline-warning btn-sm  d-inline-block mx-auto'

    %h3.text-center.my-4 家族構成

    .card.shadow-sm.p-4
      %p.mb-1
        - @family.users.each do |user|
          = user.name
          = render 'families/user_role_badge', user:

      = link_to '編集', edit_family_path(current_user.family), class: 'btn btn-outline-warning btn-sm mx-auto'
