%h2.text-center.mb-5 #{@family.name}家のページ

.row.justify-content-center
  .col-md-6.text-center
    .card.shadow-sm.p-4
      - @family.users.each do |user|
        %p.mb-1.d-flex.justify-content-center.align-items-center
          = user.name
          = render 'families/user_role_badge', user: user

      .mt-3.d-flex.flex-column.align-items-center
        = link_to '家族を招待する', new_family_family_invitation_path, class: 'btn btn-link text-secondary mb-2'
        = link_to '編集する', edit_family_path(@family), class: 'btn btn-outline-warning btn-sm'
