%h2.text-center.mb-5 #{l(@daily_record.date, format: :long)}の記録

.row.justify-content-center.mb-3
  .col-md-6
    .card.shadow-sm
      .card-body.text-center
        - @daily_record.works.order(created_at: :asc).each do |work|
          %p #{work.task.name} : #{work.task.point}

        %strong 合計ポイント: #{@daily_record.total_point}

.row.justify-content-center.mb-4
  .col-md-4
    = simple_form_for :daily_record, url: users_daily_record_path, method: :get do |f|
      .input-group
        = f.input :date,
                  as: :date,
                  input_html: { value: @daily_record.date, class: 'form-control' },
                  label: false
        = f.button :submit, '表示', class: 'btn btn-outline-primary'
