%h2.text-center.mb-4 タスク詳細

.row.justify-content-center
  .col-md-8
    %table.table.table-bordered.w-100
      %tbody
        %tr
          %th.text-center.w-25 タスク名
          %td= @task.name
        %tr
          %th.text-center.w-25 カテゴリー
          %td= @task.category_text
        %tr
          %th.text-center.w-25 点数
          %td= @task.point

    .text-center.mt-4
      = link_to '一覧に戻る', admins_tasks_path, class: 'btn btn-outline-secondary me-2'
      = link_to '編集する', edit_admins_task_path(@task), class: 'btn btn-outline-warning me-2'
      = button_to '削除する',
                  admins_task_path(@task),
                  method: :delete,
                  data: { turbo_confirm: '本当に削除しますか？' },
                  form: { class: 'd-inline' },
                  class: 'btn btn-outline-danger'
